/* styles.css */
.base-layer {
    background-image: url('images/base.png'); /* ベースレイヤー画像 */
    height: 500px; /* 高さ設定 */
    width: 100%; /* 幅設定 */
}

.wall-layer {
    background-image: url('images/wall.png'); /* 外壁レイヤー画像 */
    height: 500px; /* 高さ設定 */
    width: 100%; /* 幅設定 */
}

.window-layer {
    background-image: url('images/obj.png'); /* 窓レイヤー画像 */
    height: 500px; /* 高さ設定 */
    width: 100%; /* 幅設定 */
}
